@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030303;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all 3s ease-in-out;
}

@layer {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .section-gap {
    @apply py-10 md:py-20;
  }
}

/* Start Custom Css */
#border_btn {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 20px;
  background:
    linear-gradient(#303030e6, #303030dd) padding-box,
    linear-gradient(148deg,
      #dd4292,
      #ae64fc,
      #0234fe,
      #2cd4f8,
      #dd4292) border-box;
  background-size: 100% 100%, 300% 300%;
  animation: gradientMove 4s linear infinite;
  color: white;
  cursor: pointer;
}

#border_animation {
  border: 2px solid transparent;
  border-radius: 30px;
  /* padding: 10px 20px; */
  background:
    linear-gradient(148deg,
      #2cd3f80f,
      #000000ad,
      #000,
      #000,
      #00000000,
      #00000000,
      #dd42927e) padding-box,

    linear-gradient(148deg,
      #2cd3f8b7,
      #000,
      #dd4292,
      #dd4292b8,
      #dd429277,
      #dd42927e) border-box;
  background-size: 100% 100%, 300% 300%;
  /* animation: gradientMove 4s linear infinite; */
}

#border_btn_white {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 20px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(148deg,
      #dd4292,
      #ae64fc,
      #0234fe,
      #2cd4f8,
      #dd4292) border-box;
  background-size: 100% 100%, 300% 300%;
  animation: gradientMove 4s linear infinite;
  color: black;
  cursor: pointer;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%, 0% 50%;
  }

  50% {
    background-position: 0% 50%, 100% 50%;
  }

  100% {
    background-position: 0% 50%, 0% 50%;
  }
}

.gradient-text {
  color: white;
  transition: color 0.3s ease;
}

/* hover */
.gradient-text:hover {
  background: linear-gradient(90deg,
      #dd4292,
      #ae64fc,
      #2cd4f8,
      #dd4292);
  background-size: 300% 300%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textGradientMove 2s linear infinite;
}

/* animation */
@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


.gradient-text-color {
  background: linear-gradient(90deg, #dd4292, #ae64fc 29.27%, #2cd4f8 62.94%);
  text-align: center;
  font-weight: bold;
  /* text-transform: uppercase; */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End Custom Css */

.gradient-line {
  background: linear-gradient(90deg, #dd4292, #ae64fc 29.27%, #2cd4f8 62.94%);
  border-radius: 9999px;
}

/* Line animation */
@keyframes lineGrow {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    width: 2rem;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

.animate-line {
  animation: lineGrow 2s ease-out infinite;
}


.line-animate {
  position: absolute;
  background: linear-gradient(90deg, #dd42925f, #ad64fc57 29.27%, #2cd3f86c 62.94%);
  width: 100%;
  height: 3px;
  border-radius: 40px;
  top: 0;
  left: 0;
  transform-origin: top left;
  z-index: 10000;
}

@keyframes lineMove {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.parent-line-animate:hover .line-animate {
  animation: lineMove 3s ease-out infinite;
}

.first-char::first-letter {
  font-size: 4rem;
  margin-right: 3px;
  line-height: 1;
  font-weight: bold;
  background: linear-gradient(90deg, #dd4292, #ae64fc 29.27%, #2cd4f8 62.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  color: #dd4292;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* css loading */
.loader-one {
  --r1: 154%;
  --r2: 68.5%;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}

@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%
  }

  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%
  }

  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%
  }
}

.loader-two {
  --r1: 154%;
  --r2: 68.5%;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#dd4292 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

/* =========================
   Chrome, Edge, Opera, Safari
   ========================= */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #47BFEB;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2fa8d6;
}

/* =========================
   Firefox
   ========================= */
* {
  scrollbar-width: thin;
  scrollbar-color: #47bfebeb transparent;
}